
  <!-- Navbar -->
  <div class="text-white flex justify-between items-center px-5 py-3">
 
  <div class="bg-white items-center border-b border-gray-200 px-5 flex space-x-5 text-sm">
    <a href="#" class="text-black hover:text-red-500">Dashboard</a>
    <a href="#" class="text-red-500 border-b-2 border-red-500 pb-1">My Profile</a>
    <a href="#" class="text-black hover:text-red-500">Matches</a>
    <a href="#" class="text-black hover:text-red-500">Inbox</a>
    <a href="#" class="text-black hover:text-red-500">Partner Preferences</a>
    <a href="#" class="text-black hover:text-red-500">Settings</a>
    <a href="#" class="text-black hover:text-red-500">More</a>
  </div>
