<div class="bg-gray-50 py-24 sm:py-32 flex items-center justify-center">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <h1 class="text-center text-5xl font-semibold tracking-tight text-gray-900 sm:text-5xl py-5">We have 10000+
        Profiles waiting for their Life Partner</h1>
      <!-- <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3 py-5">
        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
          <dt class="text-base/7 text-gray-600">Transactions every 24 hours</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">44 million</dd>
        </div>
        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
          <dt class="text-base/7 text-gray-600">Assets under holding</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">$119 trillion</dd>
        </div>
        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
          <dt class="text-base/7 text-gray-600">New users annually</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">46,000</dd>
        </div>
      </dl> -->
    </div>
  </div>

  <div class="bg-gray-50 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <h1 class="text-center text-5xl font-semibold tracking-tight text-gray-900 sm:text-5xl py-5">Find Your Someone Special in 3 Easy Steps</h1>
      <div class="mx-auto mt-10 grid max-w-lg grid-cols-3 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-3 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        <!-- Circle 1 -->
        <div class="flex flex-col items-center">
          <div class="rounded-full border border-gray-700 w-20 h-20 flex items-center justify-center">
            <!-- Circle content -->
          </div>
          <p class="mt-4 text-center text-gray-700">Sign up<br>Register for free<br>Set up your profile</p>
        </div>
        <!-- Circle 2 -->
        <div class="flex flex-col items-center">
          <div class="rounded-full border border-gray-700 w-20 h-20 flex items-center justify-center">
            <!-- Circle content -->
          </div>
          <p class="mt-4 text-center text-gray-700">Connect<br>Select & connect<br>Find matches</p>
        </div>
        <!-- Circle 3 -->
        <div class="flex flex-col items-center">
          <div class="rounded-full border border-gray-700 w-20 h-20 flex items-center justify-center">
            <!-- Circle content -->
          </div>
          <p class="mt-4 text-center text-gray-700">Interact<br>Become closer<br>Communicate</p>
        </div>
      </div>
      
    </div>
  </div>